<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="spell"
           Manufacturer="Andreas Behringer"
           Version="$(ProductVersion)"
           UpgradeCode="FDCBF1D7-D1B5-4AD7-99E1-9DC6C068CC1B"
           Language="1033">

    <!-- Remove older versions before installing a new one -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of spell is already installed." />

    <!-- Embed all files in the MSI -->
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="spell" />
    </StandardDirectory>

    <Feature Id="Main" Title="spell" Level="1">
      <Component Id="SpellExe" Directory="INSTALLFOLDER" Guid="*">
        <File Id="SpellExeFile" Source="spell.exe" KeyPath="yes" />
        <!-- Add installation directory to system PATH -->
        <Environment Id="AddToPath"
                     Name="PATH"
                     Value="[INSTALLFOLDER]"
                     Action="set"
                     Part="last"
                     System="yes"
                     Permanent="no" />
      </Component>
    </Feature>

  </Package>
</Wix>
